<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTech</title>
    {% include 'college_app/html/common_css.html'%}
</head>
<body style="background-color: beige; margin: 0px;">
    {%include 'college_app/html/header.html'%}
    
    <div class="container-fluid form-group">
        <!-- <div class="container"></div> -->
        <div class="row">

          <div class="col-1"></div>

          <div class="col-8 mt-3">
            <h3 class="text-black"> BTech - Bachelor of technology</h3>
              <p class="text-black mt-1">
                B.Tech. offers various specialisations in the field of technology. Depending on what you are interested in, you can select a B.Tech major. Once you finish this programme, you have the option to seek employment or further your education based on your needs.  
              </p>

              <h3 class="text-black mt-2">The branch available in our college : </h3>
              <ul class="text-black mt-1">
                <li>B.Tech in Civil Engineering</li>
                <li>B.Tech in Mechanical Engineering</li>
                <li>B.Tech in Electronics and Communication Engineering</li>
                <li>B.Tech in Computer Science and Engineering</li>
              </ul>
          
          </div>
                           
        </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>