<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCA</title>
    {% include 'college_app/html/common_css.html'%}
</head>
<body style="background-color: beige; margin: 0px;">
    {%include 'college_app/html/header.html'%}
    
    <div class="container-fluid form-group">
        <!-- <div class="container"></div> -->
        <div class="row">

          <div class="col-1"></div>
          <div class="col-8 mt-3">
            <h3 class="text-black">About MCA </h3>
            <p class="text-black mt-3">
                 

                 MCA full form is Masters in Computer Applications. It is a professional post-graduation degree in computer science. The course aims to prepare students for a flourishing corporate IT culture with exposure. MCA education focuses on learning programming constructs and application modeling. It's an IT industry-oriented preparatory course for students with little to no knowledge of computer science.
            </p>

            <p class="text-black mt-1">

                The Master of Computer Applications (MCA) program is a two-year professional post-graduate program. This program is for candidates who want to dive further into computer application development by learning modern programming languages. 

            </p>
           
            <p class="text-black mt-1">

                The program combines practical and theoretical knowledge. An MCA degree offers the chance to work with tools designed to help them build faster and more efficient applications.
            </p> 
        </div>    
                           
        </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 
</body>
</html>